$primary-color: #2f8b60;

$secondary-color: #61dafb;



//Gray Colors

$gray-1: #363636;
$gray-2: #545454;
$gray-3: #727272;
$gray-4: #919191;
$gray-5: #AFAFAF;
$gray-6: #CDCDCD;
$gray-7: #EBEBEB;
$gray-8: #EEEEEE;
$gray-9: #F1F1F1;